.header{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 8px 16px;
  background: #3f51b5;
}
.example-viewport {
  height: 200px;
  width: 200px;
  border: 1px solid black;
}

.example-item {
  height: 50px;
}

.error{
  color: red;
}
.example-alternate {
  background: rgba(127, 127, 127, 0.3);
}
